<div class="w-full h-4 bg-gradient-to-br from-yellow-400 to-fuchsia-400 mt-6 "></div>
<section class="p-8">
    <div class="w-full">
      <article class="flex justify-between align-middle">
        <div >
          <h4 class="text-2xl font-semibold">Subscribe to our newsletter</h4>
          <p class="text-base font-medium text-gray-600">Stay up to date to the latest news, announcements, and articles.</p>
        </div>

          <div class="ml-auto">
            <input
              type="text"
              placeholder="Enter Your Email"
              class="pl-3 border-2 p-2 w-full rounded-xl border-gray-300 mb-1 md:mb-0 mr-2 md:w-7/12">
            <button class="bg-black w-full text-white px-0.5 py-2 rounded-xl md:w-4/12">Subscribe</button>
          </div>

      </article>
    </div>

      <article class="flex pt-20">
        <div class="w-2/6">
          <h5 class="font-extrabold">O Untitled UI</h5>
          <p>Design amazing digital experiences that create more happiness in the world</p>
        </div>

      <div class="ml-auto w-3/4">
        <div class="flex justify-around">
          <div>
            <p class="text-gray-500 text-sm font-semibold">Product</p>
            <a class="font-semibold" href="">
              <p>Overview</p>
            </a>
            <a class="font-semibold" href="">
              <p>Features</p>
            </a>
            <a class="font-semibold" href="">
              <p>Solutions</p>
            </a>
            <a class="font-semibold" href="">
              <p>Tutorials</p>
            </a>
            <a class="font-semibold" href="">
              <p>Pricing</p>
            </a>
            <a class="font-semibold" href="">
              <p>Releases</p>
            </a>
          </div>
          <div>
            <p class="text-gray-500 text-sm font-semibold">Product</p>
            <a class="font-semibold" href="">
              <p>Overview</p>
            </a>
            <a class="font-semibold" href="">
              <p>Features</p>
            </a>
            <a class="font-semibold" href="">
              <p>Solutions</p>
            </a>
            <a class="font-semibold" href="">
              <p>Tutorials</p>
            </a>
            <a class="font-semibold" href="">
              <p>Pricing</p>
            </a>
            <a class="font-semibold" href="">
              <p>Releases</p>
            </a>
          </div>
          <div>
            <p class="text-gray-500 text-sm font-semibold">Product</p>
            <a class="font-semibold" href="">
              <p>Overview</p>
            </a>
            <a class="font-semibold" href="">
              <p>Features</p>
            </a>
            <a class="font-semibold" href="">
              <p>Solutions</p>
            </a>
            <a class="font-semibold" href="">
              <p>Tutorials</p>
            </a>
            <a class="font-semibold" href="">
              <p>Pricing</p>
            </a>
            <a class="font-semibold" href="">
              <p>Releases</p>
            </a>
          </div>
          <div>
            <p class="text-gray-500 text-sm font-semibold">Product</p>
            <a class="font-semibold" href="">
              <p>Overview</p>
            </a>
            <a class="font-semibold" href="">
              <p>Features</p>
            </a>
            <a class="font-semibold" href="">
              <p>Solutions</p>
            </a>
            <a class="font-semibold" href="">
              <p>Tutorials</p>
            </a>
            <a class="font-semibold" href="">
              <p>Pricing</p>
            </a>
            <a class="font-semibold" href="">
              <p>Releases</p>
            </a>
          </div>
      </div>
        </div>
      </article>
</section>
