<section class="my-16">
  <h6 class="text-2xl font-medium my-8">All blog posts</h6>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
          <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
          <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
          <mat-chip-listbox aria-label="Fish selection">
            <mat-chip-option>One fish</mat-chip-option>
            <mat-chip-option>Two fish</mat-chip-option>
            <mat-chip-option color="warn">Warn fish</mat-chip-option>
          </mat-chip-listbox>
        </div>
      </div>
    </article>
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
        <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
        <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        </div>
      </div>
    </article>
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
        <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
        <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        </div>
      </div>
    </article>
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
        <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
        <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        </div>
      </div>
    </article>
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
        <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
        <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        </div>
      </div>
    </article>
    <article class="border-2">
      <div class="w-full">
        <img class="w-full" src="https://images.pexels.com/photos/8112178/pexels-photo-8112178.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <div class="pl-4 flex flex-col gap-y-2 mt-4 ">
          <p class="text-gray-700 text-sm">Olivia Ryhe &#8226; 20 Jan 24</p>
        <H3 class="font-medium inline">Conversations with London Mark & Co.</H3>
        <p class="text-xs">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, perspiciatis non vel tenetur ullam earum blanditiis delectus ratione, atque, porro sint.</p>
        <mat-chip-listbox aria-label="Fish selection">
          <mat-chip-option>One fish</mat-chip-option>
          <mat-chip-option>Two fish</mat-chip-option>
          <mat-chip-option color="warn">Warn fish</mat-chip-option>
        </mat-chip-listbox>
        </div>
      </div>
    </article>
  </div>
</section>
<mat-divider class="mt-2"></mat-divider>
